<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to <%= app_class %></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style id="jss-server-side" type="text/css">
      <%= ssr_styles %>
    </style>
    <%= script_tag %>
  </head>
  <body>
    <%= content %>
  </body>
</html>
